
/* inizio sezione del root */
:root{
    --header: rgb(49, 49, 254);
    --main: white;
    --footer: black;
    --img: red;
    --h1: brown;
    --h2: green;
    --h4: rgb(190, 0, 178);
    --button: violet;
    --p: rgb(33, 209, 33);
}
/* fine sezione del root */


/* Inizio sezione del corpo */
header {
    display: flex;
    background-color: #255EE9;
    justify-content: space-around;
    height: auto;
    padding-top: 10px;
    align-items: center;
    /* margin: 0 auto;
    width: 80%; */


    

}    

main {
    background-color: var(--main);
    /* flex-basis: 50%; */
    /* display: flex; */
    /* margin: 0 auto;
    width: 60%; */
}

footer {

    background-color: var(--footer);
    height: auto;
    padding: 30px;
    /* display: flex;
    padding: 30px;
    gap: 10px; */
    
}
/* Fine sezione del corpo */



/* Inizio sezione dei Elementi */
h1 {
    /* background-color: var(--h1); */
    /* height: 30px; */
    /* width: 30%; */
    text-align: center;
}

h2 {
    /* background-color: var(--h2); */
    /* height: 30px;
    width: 30%; */
}

h4 {

    background-color: var(--h4);
    height: 30px;
    width: 30%;
}

p {
    
    /* height: 50px;
    width: 30%; */
    /* text-align: center; */

}

.logo {
    /* background-color: var(--img); */
    
}

.img-big {
    /* background-color: var(--img); */
    /* height: 200px;
    width: 50%; */

}

nav{
    /* background-color: var(--nav); */
    /* flex-basis: 200px; */
    /* width: 30%; */
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

a {
    color: white;
    text-decoration: none;
}

button {
    /* background-color: var(--button); */
    /* height: 30px;
    width: 50%; */
    
}

.button-header {

    
    background-color: white;
    border-radius: 20%;
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;


}

ul {
    list-style-type: none;
}

hr {
   border: 2px solid rgb(174, 255, 0);
   
}

.button-1{
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
}
.button-2{
    padding: 10px;
    background-color: #23272A;
    color: white;
    border: none;
    border-radius: 10px;
    
}
/* Fine sezione dei Elementi */



/* Inizio sezione dei Flex container */
.container1 {

    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
    color: white;
    gap: 10px;
    /* height: 200px; */
    background-image: url('../img/jumbo.png'); 
    background-size: cover;           
    background-repeat: no-repeat;    
    background-position: center; 
    padding: 100px;
    
}

.flex-button {
    display: flex;
    gap: 10px;
    /* width: 30%; */

}

.flex-container {

    display: flex;
    /* background-color: aqua; */
    /* justify-content: space-between; */
    /* align-items: center; */
    padding: 30px;

}



.flex-figure {

    /* justify-content: flex-end; */
    /* background-color: red; */
    /* align-items: flex-end; */
    flex-basis: 60%;

}

.flex-h1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: flex-end; */
    /* align-items: center; */
    flex-basis: 40%;
    /* padding: 50px; */
    gap: 10px;
}

.flex-figure6 {

    /* background-color: red; */
    height: 100px;
    width: 50%;

}


.flex-container2 {
    display: flex;
    background-color: aqua;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    gap: 10px;

}


.flex-container4 {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    gap: 10px;
    /* padding: 30px; */

}

.last {

    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.flex-footer{
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
}

.primo-link {
    background-color: aqua;
    height: 50px;
    width: 27%;
    
}

.flex-footer2 {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    
}

.flex-figure5 {

    /* background-color: aliceblue; */
    /* height: 20px; */
    width: 20%;
}

.flex-button5 {
    background-color: var(--button);
    height: 20px;
    width: 20%;
}
    
/* Fine sezione dei Flex container */